@charset "utf-8";

/* pc */

.ma_visual {
  position: relative;
}
.ma_visual .inbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 738px;
  color: #fff;
  text-align: center;
}
.ma_visual .inbox .visual_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ma_visual .inbox .visual_img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.ma_visual .inbox .txt01 {
  position: relative;
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
}
.ma_visual .inbox .txt02 {
  position: relative;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}
.ma_visual .inbox .txt03 {
  position: relative;
  margin-top: 16px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}
.ma_visual .swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 102px;
  height: 102px;
  margin: 0 0 0 -700px;
  border: none;
  background: url(../images/main/btn_visual_prev.svg) no-repeat center/contain;
  transform: translateY(-50%);
}
.ma_visual .swiper-button-next {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 102px;
  height: 102px;
  margin: 0 -700px 0 0;
  border: none;
  background: url(../images/main/btn_visual_next.svg) no-repeat center/contain;
  transform: translateY(-50%);
}
.ma_visual .swiper_ctrl {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 160px;
  left: 0;
	z-index: 1;
}
.ma_visual .swiper_ctrl .swp_btn {
  display: none;
}
.ma_visual .swiper_ctrl .swiper-pagination {
  display: flex;
	align-items: center;
  position: static;
  width: auto;
	height: 24px;
}
.ma_visual .swiper_ctrl .swiper-pagination * {
  color: #d4d4d4;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.ma_visual .swiper_ctrl .swiper-pagination .current {
  color: #fff;
  font-weight: 700;
}
.ma_visual .swiper_ctrl .swiper-pagination .slash {
  margin: 0 4px;
}
.ma_visual .swiper_ctrl .btn_stop_play {
	position: relative;
  width: 24px;
	height: 24px;
	margin-left: 8px;
	border: none;
	background: url(../images/main/btn_visual_stop.svg) no-repeat center/contain;
	text-indent: -9999px;
	overflow: hidden;
}
.ma_visual .swiper_ctrl .btn_stop_play.stop {
	background-image: url(../images/main/btn_visual_play.svg);
}

.ma_visual_menu ul {
  display: flex;
  justify-content: center;
  margin-top: 68px;
}
.ma_visual_menu li {
  margin: 0 18px;
}
.ma_visual_menu li .inbox {
  display: block;
  width: 120px;
  height: 120px;
  border: 1px solid #ffffff;
  border-radius: 20px 6px 20px 6px;
  text-align: center;
}
.ma_visual_menu li .inbox:focus,
.ma_visual_menu li .inbox:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.ma_visual_menu li .inbox .ico {
  display: block;
  width: 54px;
  height: 54px;
  margin: 18px auto 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.ma_visual_menu li .inbox .txt {
  display: block;
  margin-top: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.4px;
  text-align: center;
}

.ma_content {
}

.ma_notice_txt_banner {
  padding: 68px 0;
}
.ma_notice_txt_banner .in_head {
  position: relative;
  height: 30px;
  line-height: 30px;
}
.ma_notice_txt_banner .in_head:after {
  content: "";
  display: block;
  clear: both;
}
.ma_notice_txt_banner .in_head .title {
  float: left;
  color: #333;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.ma_notice_txt_banner .in_head .swiper-pagination {
  float: left;
  position: static;
  width: auto;
  margin-left: 15px;
}
.ma_notice_txt_banner .in_head .swiper-pagination .current {
  color: #ff8d1a;
  font-size: 16px;
  font-weight: 700;
}
.ma_notice_txt_banner .in_head .swiper-pagination .line {
  display: inline-block;
  width: 40px;
  height: 2px;
  margin: 14px 10px;
  background: #333;
  vertical-align: top;
  text-indent: -999px;
  overflow: hidden;
}
.ma_notice_txt_banner .in_head .swiper-pagination .total {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
.ma_notice_txt_banner .in_head .swiper_ctrl {
  float: right;
  position: relative;
  padding: 3px 0;
  margin-right: 34px;
}
.ma_notice_txt_banner .in_head .swiper_ctrl .swiper-button-prev {
  position: static;
  float: left;
  width: 24px;
  height: 24px;
  margin: 0;
  border: none;
  background: url("../images/btn_swiper_prev_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: top;
}
.ma_notice_txt_banner .in_head .swiper_ctrl .swiper-button-next {
  position: static;
  float: left;
  width: 24px;
  height: 24px;
  margin: 0 0 0 24px;
  border: none;
  background: url("../images/btn_swiper_next_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: top;
}
.ma_notice_txt_banner .in_head .swiper_ctrl .btn_stop_play {
  position: absolute;
  top: 3px;
  left: 24px;
  width: 24px;
  height: 24px;
  border: none;
  background: url("../images/btn_swiper_pause_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: top;
}
.ma_notice_txt_banner .in_head .swiper_ctrl .btn_stop_play.stop {
  background-image: url("../images/btn_swiper_play_black.svg");
}

.ma_notice_txt {
  float: left;
  position: relative;
  width: 814px;
  height: 337px;
}
.main_notice_tab {
  height: 40px;
  margin-top: 19px;
  border-radius: 20px;
  background: #f1f1f1;
}
.main_notice_tab:after {
  content: "";
  display: block;
  clear: both;
}
.main_notice_tab > li {
  float: left;
}
.main_notice_tab > li h2 a {
  display: block;
  position: relative;
  padding: 0 40px;
  color: #333;
  font-size: 16px;
  line-height: 40px;
  font-weight: 500;
}
.main_notice_tab > li.active h2 a {
  height: 56px;
  margin-top: -8px;
  border-radius: 20px 6px 20px 6px;
  background: #ff8d1a;
  color: #0e3848;
  line-height: 56px;
  font-weight: 700;
  z-index: 2;
}
.main_notice_tab > li .in_cont {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  opacity: 0.01%;
  text-indent: -9999px;
  overflow: hidden;
}
.main_notice_tab > li.active .in_cont {
  top: 89px;
  left: 0;
  right: 0;
  width: auto;
  height: 248px;
  padding: 0;
  margin: 0;
  opacity: 1;
  text-indent: 0;
  overflow: visible;
}
.main_notice_tab > li .btn_more {
  position: absolute;
  width: 1px;
  height: 1px;
  margin-top: -1px;
  opacity: 0.01;
  text-indent: -999px;
  overflow: hidden;
}
.main_notice_tab > li.active .btn_more {
  top: 5px;
  right: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  border: none;
  background: url("../images/ico_s_plus_black.svg") no-repeat center center;
  background-size: 100%;
  opacity: 1;
}
.main_notice_tab > li ul {
  padding-top: 18px;
}
.main_notice_tab > li ul li {
  position: relative;
  margin-top: 14px;
  padding: 0 86px 0 83px;
}
.main_notice_tab > li ul li .noti_type {
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 32px;
  border-radius: 16px;
  background: #0e3848;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: -0.35px;
  text-align: center;
}
.main_notice_tab > li ul li a {
  display: inline-block;
  max-width: 100%;
  color: #333;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.4px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main_notice_tab > li ul li .date {
  position: absolute;
  top: 0;
  right: 0;
  color: #727272;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.38px;
}
.main_notice_tab > li ul li a:hover,
.main_notice_tab > li ul li a:focus,
.main_notice_tab > li ul li a:hover + .date,
.main_notice_tab > li ul li a:focus + .date {
  text-decoration: underline;
}

.ma_notice_banner {
  float: right;
  position: relative;
  width: 456px;
}
.ma_notice_banner .btn_swiper_more {
  position: absolute;
  top: 3px;
  right: 0;
  width: 24px;
  height: 24px;
  border: none;
  background: url("../images/btn_swiper_more_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -9999px;
  overflow: hidden;
}
.ma_notice_swiper {
  margin-top: 11px;
}
.ma_notice_swiper .inbox {
  display: block;
  outline: none;
}
.ma_notice_swiper .inbox:focus:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #000;
  border-radius: 20px 6px 20px 6px;
}
.ma_notice_swiper .inbox .imgbox {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  padding-bottom: 64.91%;
  border-radius: 20px 6px 20px 6px;
  overflow: hidden;
}
.ma_notice_swiper .inbox .imgbox .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
}

.ma_business {
  padding: 70px 0;
  background: url("../images/main/bg_business.svg") no-repeat center bottom #f2f2f2;
}
.ma_business .title {
  position: absolute;
  top: 0;
  left: 10px;
  width: 65px;
  height: 177px;
  background: url("../images/main/tit_business.svg") no-repeat 0 0;
  background-size: 100%;
  text-indent: -9999px;
  overflow: hidden;
}
.business_gallery {
  padding-left: 100px;
}
.business_gallery ul {
  display: flex;
  margin: 0 -12px;
}
.business_gallery ul li {
  width: 25%;
  padding: 0 12px;
}
.business_gallery ul li .inbox {
  display: block;
  height: 100%;
  border: 1px solid #cecece;
  border-radius: 20px 6px 20px 6px;
  background: #fff;
  overflow: hidden;
  transition: 0.3s;
}
.business_gallery ul li .inbox .imgbox {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 62.71%;
  overflow: hidden;
}
.business_gallery ul li .inbox .imgbox .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
  transition: 0.3s;
}
.business_gallery ul li .inbox .txtbox {
  display: block;
  padding: 20px;
  text-align: center;
}
.business_gallery ul li .inbox .txtbox .tit {
  display: block;
  color: #000;
  font-size: 20px;
  line-height: 29px;
  font-weight: 700;
  letter-spacing: -0.5px;
  transition: 0.3s;
}
.business_gallery ul li .inbox .txtbox .btn_view {
  display: block;
  width: 116px;
  height: 34px;
  padding-left: 20px;
  margin: 20px auto 0;
  border-radius: 16px 4px 16px 4px;
  background: url("../images/ico_arrow_right_white.svg") no-repeat right 15px center #000;
  background-size: 16px;
  color: #fff;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  text-align: left;
  transition: 0.3s;
}
.business_gallery ul li .inbox:hover,
.business_gallery ul li .inbox:focus {
  border-color: #135ecf;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
}
.business_gallery ul li .inbox:hover .imgbox .img,
.business_gallery ul li .inbox:focus .imgbox .img {
  transform: scale(1.1);
}
.business_gallery ul li .inbox:hover .txtbox .tit,
.business_gallery ul li .inbox:focus .txtbox .tit {
  text-decoration: underline;
}
.business_gallery ul li .inbox:hover .txtbox .btn_view,
.business_gallery ul li .inbox:focus .txtbox .btn_view {
  background-color: #135ecf;
}

.ma_photo_video {
  height: 720px;
  padding-top: 68px;
  background: url("../images/main/bg_gallery_section.png") no-repeat center center;
  background-size: cover;
}
.ma_photo_video .in_head {
  position: relative;
  height: 30px;
  line-height: 30px;
}
.ma_photo_video .in_head:after {
  content: "";
  display: block;
  clear: both;
}
.ma_photo_video .in_head .title {
  float: left;
  color: #333;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.ma_photo_video .in_head .swiper-pagination {
  float: left;
}
.ma_photo_video .in_head .swiper_ctrl {
  float: right;
  position: relative;
  padding: 3px 0;
  margin-right: 34px;
}
.ma_photo_video .in_head .swiper_ctrl .swiper-button-prev {
  position: static;
  float: left;
  width: 24px;
  height: 24px;
  margin: 0;
  border: none;
  background: url("../images/btn_swiper_prev_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: top;
}
.ma_photo_video .in_head .swiper_ctrl .swiper-button-next {
  position: static;
  float: left;
  width: 24px;
  height: 24px;
  margin: 0 0 0 24px;
  border: none;
  background: url("../images/btn_swiper_next_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: top;
}
.ma_photo_video .in_head .swiper_ctrl .btn_stop_play {
  position: absolute;
  top: 3px;
  left: 24px;
  width: 24px;
  height: 24px;
  border: none;
  background: url("../images/btn_swiper_pause_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: top;
}
.ma_photo_video .in_head .swiper_ctrl .btn_stop_play.stop {
  background-image: url("../images/btn_swiper_play_black.svg");
}
.ma_photo_video .btn_swiper_more {
  position: absolute;
  top: 31px;
  right: 28px;
  width: 24px;
  height: 24px;
  border: none;
  background: url("../images/btn_swiper_more_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.ma_photo_video .photo_gallery {
  float: left;
  position: relative;
  width: 744px;
  height: 429px;
  padding: 28px;
  border-radius: 20px 6px 20px 6px;
  background: #fff;
}
.ma_photo_video .ma_photo_swiper {
  padding-top: 9px;
  margin: 0 -24px;
}
.ma_photo_video .ma_photo_swiper .swiper-container {
  padding: 2px 0;
}
.ma_photo_video .ma_photo_swiper .inbox_group {
  display: flex;
  position: relative;
}
.ma_photo_video .ma_photo_swiper .inbox_group:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: #cecece;
}
.ma_photo_video .ma_photo_swiper .inbox_group .inbox {
  display: block;
  flex: 1;
  position: relative;
  margin: 0 24px;
}
.ma_photo_video .ma_photo_swiper .inbox_group .inbox .imgbox {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  border-radius: 4px;
  overflow: hidden;
}
.ma_photo_video .ma_photo_swiper .inbox_group .inbox .imgbox .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
  transition: 0.3s;
}
.ma_photo_video .ma_photo_swiper .inbox_group .inbox:hover .imgbox .img,
.ma_photo_video .ma_photo_swiper .inbox_group .inbox:focus .imgbox .img {
  transform: scale(1.1);
}
.ma_photo_video .ma_photo_swiper .inbox_group .inbox .txtbox {
  position: relative;
  height: 130px;
  padding-top: 20px;
}
.ma_photo_video .ma_photo_swiper .inbox_group .inbox .txtbox .tit {
  display: block;
  position: relative;
  height: 52px;
  color: #333;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.4px;
  word-break: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.ma_photo_video .ma_photo_swiper .inbox_group .inbox .txtbox .tit:after {
  display: none;
  display: block\0;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 26px;
  padding-left: 45px;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.95) 55%);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.95) 55%);
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.95) 55%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.95) 55%);
}
.ma_photo_video .ma_photo_swiper .inbox_group .inbox .txtbox .date {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  padding-left: 21px;
  background: url("../images/ico_orange_date.svg") no-repeat 0 center;
  background-size: 18px;
  color: #777;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.7px;
}
.ma_photo_video .ma_photo_swiper .inbox_group .inbox .txtbox .writer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  padding-left: 21px;
  background: url("../images/ico_orange_writer.svg") no-repeat 0 center;
  background-size: 18px;
  color: #777;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.7px;
}

.ma_photo_video .video_gallery {
  float: right;
  position: relative;
  width: 552px;
  height: 429px;
  padding: 28px;
  border-radius: 20px 6px 20px 6px;
  background: #fff;
}
.ma_photo_video .ma_video {
  margin-top: 11px;
}
.ma_photo_video .ma_video .inbox {
  display: block;
  position: relative;
}
.ma_photo_video .ma_video .inbox .imgbox {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66.93%;
  border-radius: 4px;
  overflow: hidden;
}
.ma_photo_video .ma_video .inbox .imgbox .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-indent: -9999px;
  overflow: hidden;
  transition: 0.3s;
}
.ma_photo_video .ma_video .inbox:hover .imgbox .img,
.ma_photo_video .ma_video .inbox:focus .imgbox .img {
  transform: scale(1.1);
}
.ma_photo_video .ma_video .inbox .imgbox:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../images/btn_big_play_white.svg") no-repeat center center rgba(0, 0, 0, 0.4);
  background-size: 120px;
}
.ma_photo_video .ma_video .inbox .txtbox .tit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -0.35px;
}

.foot_banners_wrap {
  padding: 20px 0;
  border-top: 1px solid #cecece;
  background: #f4f4f4;
}
.foot_banners {
  position: relative;
  max-width: 1320px;
  padding-left: 208px;
  margin: 0 auto;
}
.foot_banners .swiper-ctrl {
  position: absolute;
  top: 50%;
  left: 0;
  width: 192px;
  margin-top: -13px;
}
.foot_banners .swiper-ctrl .title {
  float: left;
  width: 112px;
  color: #333;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.foot_banners .swiper-ctrl .swiper-button-prev {
  position: static;
  float: left;
  width: 26px;
  height: 26px;
  margin: 0;
  border: none;
  background: url("../images/btn_swiper_prev_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: top;
}
.foot_banners .swiper-ctrl .swiper-button-next {
  position: static;
  float: left;
  width: 26px;
  height: 26px;
  margin: 0 0 0 26px;
  border: none;
  background: url("../images/btn_swiper_next_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: top;
}
.foot_banners .swiper-ctrl .btn_stop_play {
  position: absolute;
  top: 0;
  left: 138px;
  width: 26px;
  height: 26px;
  border: none;
  background: url("../images/btn_swiper_pause_black.svg") no-repeat center center;
  background-size: 100%;
  text-indent: -999px;
  overflow: hidden;
  vertical-align: top;
}
.foot_banners .swiper-ctrl .btn_stop_play.stop {
  background: url("../images/btn_swiper_play_black.svg") no-repeat center center;
  background-size: 100%;
}

.foot_banners .swiper-slide {
  text-align: center;
}
.foot_banners .swiper-slide a {
  display: block;
  position: relative;
  height: 60px;
  margin: 0 0 0 20px;
  border: 1px solid #cecece;
  background: #fff;
}
.foot_banners .swiper-slide img {
  max-width: 100%;
}

@media screen and (max-width: 1279px) {
}

@media screen and (max-width: 1024px) {
  .ma_visual_wrap {
    height: 682px;
    padding-top: 55px;
    background-image: url("../images/main/t_bg_ma_visual.png");
  }
  .ma_visual_wrap .ma_visual_tit {
    width: 296px;
    height: 191px;
    background-image: url("../images/main/t_tit_visual.svg");
  }
  .ma_visual_wrap .ma_visual_menu ul {
    margin-top: 144px;
  }
  .ma_visual_wrap .ma_visual_menu li .inbox {
    border: none;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
  }
  .ma_visual_wrap .ma_visual_menu li .inbox:focus,
  .ma_visual_wrap .ma_visual_menu li .inbox:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .ma_notice_txt_banner {
    padding: 50px 0;
  }
  .ma_notice_txt {
    width: 100%;
    height: 333px;
  }
  .ma_notice_banner {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }
  .ma_notice_swiper .inbox:focus:after {
    display: none;
  }

  .ma_business {
    padding: 50px 0 70px;
    background-image: url("../images/main/t_bg_business.svg");
    background-position: center center;
    background-size: 100%;
  }
  .ma_business .title {
    position: static;
    width: 170px;
    height: 37px;
    margin: 0 auto;
    background-image: url("../images/main/t_tit_business.svg");
  }
  .business_gallery {
    padding: 30px 0 0 0;
  }
  .business_gallery ul {
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .business_gallery ul li {
    width: 50%;
    margin-top: 20px;
    padding: 0 10px;
  }
  .business_gallery ul li .inbox .imgbox {
    padding-bottom: 53.82%;
  }

  .ma_photo_video {
    height: auto;
    padding: 0 0 154px 0;
    background-color: #272778;
    background-image: url("../images/main/t_bg_gallery_section.png");
    background-position: center bottom;
    background-size: 100%;
  }

  .ma_photo_video .photo_gallery {
    width: 100%;
    height: auto;
    padding: 24px;
    margin-top: 50px;
  }
  .ma_photo_video .ma_photo_swiper .inbox_group .inbox {
    margin: 0 20px;
  }

  .ma_photo_video .video_gallery {
    width: 100%;
    height: auto;
    padding: 24px;
    margin-top: 50px;
  }
  .ma_photo_video .ma_video .inbox .imgbox {
    padding-bottom: 69.32%;
  }
  .ma_photo_video .ma_video .inbox .txtbox .tit {
    padding: 18px 22px;
  }

  .foot_banners {
    margin: 0 0 0 20px;
    overflow: hidden;
  }

  .foot_banners .swiper-slide {
    width: 222px;
    text-align: center;
  }
  .foot_banners .swiper-slide a {
    margin: 0 20px 0 0;
  }
  .foot_banners .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 767px) {
  .ma_visual_wrap {
    height: 577px;
    padding-top: 27px;
    background-image: url("../images/main/m_bg_ma_visual.png");
  }
  .ma_visual_wrap .ma_visual_tit {
    width: 260px;
    height: 159px;
    background-image: url("../images/main/m_tit_visual.svg");
  }
  .ma_visual_wrap .ma_visual_menu ul {
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 8px;
  }
  .ma_visual_wrap .ma_visual_menu ul li {
    width: 50%;
    margin: 26px 0 0;
    padding: 0 13px;
    text-align: center;
  }
  .ma_visual_wrap .ma_visual_menu li .inbox {
    margin-left: auto;
  }
  .ma_visual_wrap .ma_visual_menu li:nth-child(2n) .inbox {
    margin-left: 0;
    margin-right: auto;
  }

  .ma_notice_txt_banner {
    padding: 40px 0;
  }
  .ma_notice_txt_banner .in_head {
    height: 26px;
    line-height: 26px;
  }
  .ma_notice_txt_banner .in_head .title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.45px;
  }
  .ma_notice_txt_banner .in_head .swiper-pagination {
    height: 26px;
    margin-left: 20px;
    line-height: 26px;
  }
  .ma_notice_txt_banner .in_head .swiper-pagination .current {
    font-size: 14px;
  }
  .ma_notice_txt_banner .in_head .swiper-pagination .line {
    margin: 12px 10px;
  }
  .ma_notice_txt_banner .in_head .swiper-pagination .total {
    font-size: 14px;
  }
  .ma_notice_txt_banner .in_head .swiper_ctrl {
    padding: 1px 0;
  }
  .ma_notice_txt_banner .in_head .swiper_ctrl .btn_stop_play {
    top: 1px;
  }

  .ma_notice_txt {
    height: 546px;
  }
  .main_notice_tab {
    display: flex;
    justify-content: space-between;
    height: 28px;
    margin-top: 13px;
    border-radius: 0;
    background: none;
  }
  .main_notice_tab > li {
    float: none;
  }
  .main_notice_tab > li h2 a {
    position: relative;
    height: 28px;
    padding: 0 0 4px 0;
    line-height: 24px;
  }
  .main_notice_tab > li.active h2 a {
    height: 28px;
    margin-top: 0;
    border-radius: 0;
    background: none;
    line-height: 24px;
  }
  .main_notice_tab > li.active h2 a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff8d1a;
  }
  .main_notice_tab > li.active .in_cont {
    top: 80px;
    left: 0;
    right: 0;
    width: auto;
    height: 466px;
    padding: 0;
    margin: 0;
    opacity: 1;
    text-indent: 0;
    overflow: visible;
  }
  .main_notice_tab > li .btn_more {
    top: 3px;
  }
  .main_notice_tab > li ul {
    padding-top: 0;
    border-top: 1px solid #cecece;
  }
  .main_notice_tab > li ul li {
    position: relative;
    margin-top: 0;
    padding: 0;
    border-bottom: 1px solid #cecece;
  }
  .main_notice_tab > li ul li .noti_type {
    top: 14px;
  }
  .main_notice_tab > li ul li a {
    display: block;
    position: relative;
    width: 100%;
    padding: 54px 0 14px 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.35px;
    z-index: 2;
  }
  .main_notice_tab > li ul li .date {
    top: 14px;
    font-size: 13px;
    letter-spacing: -0.33px;
  }
  .main_notice_tab > li ul li a:hover,
  .main_notice_tab > li ul li a:focus,
  .main_notice_tab > li ul li a:hover + .date,
  .main_notice_tab > li ul li a:focus + .date {
    text-decoration: none;
  }

  .ma_notice_banner {
    margin-top: 40px;
  }
  .ma_notice_banner .btn_swiper_more {
    top: 1px;
  }
  .ma_notice_swiper {
    margin-top: 13px;
  }
  .ma_notice_swiper .inbox .imgbox {
    padding-bottom: 63.55%;
  }

  .ma_business {
    padding: 40px 0;
    background-image: none;
  }
  .ma_business .title {
    width: 170px;
    height: 37px;
    margin: 0 auto;
    background-image: url("../images/main/m_tit_business.svg");
  }
  .business_gallery {
    padding: 20px 0 0 0;
  }
  .business_gallery ul {
    margin: 0;
  }
  .business_gallery ul li {
    width: 100%;
    padding: 0;
  }
  .business_gallery ul li .inbox {
    position: relative;
    border: none;
  }
  .business_gallery ul li .inbox .imgbox {
    padding-bottom: 62.65%;
  }
  .business_gallery ul li .inbox .txtbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  .business_gallery ul li .inbox .txtbox .tit {
    width: 100%;
    color: #fff;
  }
  .business_gallery ul li .inbox .txtbox .btn_view {
    width: 122px;
    height: 36px;
    margin-top: 63px;
    background-color: #ff8d1a;
    background-image: url("../images/ico_arrow_right_black.svg");
    color: #333;
    line-height: 36px;
    font-weight: 500;
  }
  .business_gallery ul li .inbox:hover .txtbox .tit,
  .business_gallery ul li .inbox:focus .txtbox .tit {
    text-decoration: none;
  }
  .business_gallery ul li .inbox:hover .txtbox .btn_view,
  .business_gallery ul li .inbox:focus .txtbox .btn_view {
    background-color: #ff8d1a;
  }

  .ma_photo_video {
  }
  .ma_photo_video .in_head {
    height: 26px;
    line-height: 26px;
  }

  .ma_photo_video .in_head {
    height: 26px;
    line-height: 26px;
  }
  .ma_photo_video .in_head .title {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.45px;
  }
  .ma_photo_video .in_head .swiper_ctrl {
    padding: 1px 0;
  }
  .ma_photo_video .in_head .swiper_ctrl .btn_stop_play {
    top: 1px;
  }
  .ma_photo_video .btn_swiper_more {
    top: 21px;
    right: 20px;
  }

  .ma_photo_video .photo_gallery {
    padding: 20px;
    margin-top: 40px;
  }
  .ma_photo_video .ma_photo_swiper {
    margin: 0;
  }
  .ma_photo_video .ma_photo_swiper .inbox_group {
    flex-wrap: wrap;
  }
  .ma_photo_video .ma_photo_swiper .inbox_group:before {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
  }
  .ma_photo_video .ma_photo_swiper .inbox_group .inbox {
    flex: auto;
    width: 100%;
    margin: 0;
  }
  .ma_photo_video .ma_photo_swiper .inbox_group .inbox + .inbox {
    margin-top: 40px;
  }
  .ma_photo_video .ma_photo_swiper .inbox_group .inbox .txtbox {
    height: 108px;
    padding-top: 16px;
  }
  .ma_photo_video .ma_photo_swiper .inbox_group .inbox .txtbox .tit {
    font-size: 14px;
    letter-spacing: -0.35px;
  }

  .ma_photo_video .video_gallery {
    margin-top: 40px;
    padding: 20px;
  }
  .ma_photo_video .ma_video {
    margin-top: 13px;
  }
  .ma_photo_video .ma_video .inbox .imgbox:after {
    background-size: 60px;
  }
  .ma_photo_video .ma_video .inbox .txtbox .tit {
    padding: 20px;
  }

  .foot_banners {
    margin: 0 0 0 14px;
    padding-left: 181px;
  }
  .foot_banners .swiper-ctrl .title {
    width: 85px;
    font-size: 18px;
  }
  .foot_banners .swiper-ctrl .btn_stop_play {
    left: 112px;
  }
  .foot_banners .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
