@charset "utf-8";

/* margin, padding */
.mgt0 {
  margin-top: 0 !important;
}
.mgt5 {
  margin-top: 5px !important;
}
.mgt10 {
  margin-top: 10px !important;
}
.mgt15 {
  margin-top: 15px !important;
}
.mgt20 {
  margin-top: 20px !important;
}
.mgt25 {
  margin-top: 25px !important;
}
.mgt30 {
  margin-top: 30px !important;
}
.mgt35 {
  margin-top: 35px !important;
}
.mgt40 {
  margin-top: 40px !important;
}
.mgt45 {
  margin-top: 45px !important;
}
.mgt50 {
  margin-top: 50px !important;
}

.mgt_10 {
  margin-top: -10px !important;
}
.mgt_20 {
  margin-top: -20px !important;
}
.mgt_30 {
  margin-top: -30px !important;
}
.mgt_40 {
  margin-top: -40px !important;
}
.mgt_50 {
  margin-top: -50px !important;
}

/* 공통 */
.sub_visual {
  position: relative;
}

.sub_visual .bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.sub_visual .bg_pc {
  display: block;
}

.sub_visual .bg_t,
.sub_visual .bg_m {
  display: none;
}

.sub_visual .visual_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 227px;
  color: #fff;
  font-size: 56px;
  line-height: 68px;
  font-weight: 700;
}

.sub_content_wrap .inner_center {
  display: flex;
  padding: 40px 0 100px;
}

#lnb {
  flex: none;
  width: 300px;
}

#lnb .lnb_list > li + li {
  margin-top: 12px;
}

#lnb .lnb_list > li > a {
  display: block;
  position: relative;
  padding: 18px 56px 18px 24px;
  border-radius: 10px;
  background: #fff;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

#lnb .lnb_list > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #d8d8d8;
  border-radius: inherit;
  pointer-events: none;
}
#lnb .lnb_list > li > a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url(../images/ico_20_arrow_right_white.svg), url(../images/ico_20_arrow_right_gray.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center -9999px, center center;
  background-size: contain, contain;
  transform: translateY(-50%);
}

#lnb .lnb_list > li > a:hover {
  background-color: #f8f8f8;
  text-decoration: underline;
  text-underline-offset: 5px;
}

#lnb .lnb_list > li > a.active {
  background: linear-gradient(0deg, #172d9d, #172d9d), linear-gradient(114.94deg, #3c78ee -10.69%, #244cb8 45.74%, #0d2185 99.97%);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
}
#lnb .lnb_list > li > a.active::before {
  display: none;
}
#lnb .lnb_list > li > a.active::after {
  background-position: center center, center -9999px;
}

.sub_content {
  flex: 1;
	margin-left: 80px;
}

.sub_headbar {
  display: none;
}

.sub_con_head {
  padding-bottom: 16px;
  border-bottom: 1px solid #C6C6C6;
}

.sub_con_head .title {
  color: #1D1D1D;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.sub_con_head .location {
	display: flex;
	align-items: center;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
}

.sub_con_head .location > li {}

.sub_con_head .location > li + li {
  padding-left: 18px;
  margin-left: 6px;
  background: url("../images/ico_12_arrow_right_gray.svg") no-repeat 0 center;
  background-size: auto 12px;
}

.sub_con_head .location > li .ico_home {
	display: block;
  width: 20px;
  height: 20px;
  background: url("../images/ico_20_home_gray.svg") no-repeat center center;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
}

.sub_con_head .location > li > a,
.sub_con_head .location > li > em,
.sub_con_head .location > li > span {
	color: #8e8e8e;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.sub_cont {
  min-height: 618px;
  margin-top: 40px;
}

.sub_cont > *:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1480px) {
  .share_box {
    right: 0;
  }
}

@media screen and (max-width: 1279px) {
  /* 공통 */
  .sub_visual .bg_pc {
    display: none;
  }

  .sub_visual .bg_t {
    display: block;
    background-position: right center;
  }

  .sub_visual .bg_m {
    display: none;
  }

  .sub_visual_center {
    height: 194px;
    padding: 0 0 22px 0;
  }

  #lnb {
    display: none;
  }

  .sub_content {
    width: 100%;
    margin-top: -30px;
  }

  .sub_headbar {
    display: flex;
    position: relative;
    z-index: 10;
  }

  .sub_headbar:after {
    content: "";
    display: block;
    clear: both;
  }

  .sub_headbar .sub_depth_box {
    flex: 1;
    position: relative;
  }

  .sub_headbar .sub_depth_box > a {
    display: block;
    position: relative;
    padding: 17px 50px 17px 25px;
    border-radius: 10px;
    background-image: linear-gradient(94deg, #10bb98, #2c99f8 100%);
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: -0.45px;
    z-index: 1;
  }

  .sub_headbar .sub_depth_box > a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    border-radius: 100%;
    background: url("../images/sub/ico_depth_select_arrow.svg") no-repeat center center #f1f2f7;
    background-size: 24px;
  }

  .sub_headbar .sub_depth_box > .sub_depth {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -9px;
    padding: 8px 10px 0 12px;
    border: 1px solid #10bb98;
    border-radius: 0 0 8px 8px;
    background: #e6f8f5;
    overflow: hidden;
  }

  .sub_headbar .sub_depth_box > .sub_depth > li + li {
    border-top: 1px solid #a3d8cd;
  }

  .sub_headbar .sub_depth_box > .sub_depth > li > a {
    display: block;
    padding: 9px 9px 9px 18px;
    background: url(../images/ico_depth02_arrow.svg) no-repeat 5px 17px;
    color: #444;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.8px;
  }

  .sub_headbar .sub_depth_box > a.active:after {
    transform: rotate(180deg);
  }

  .sub_headbar .sub_depth_box > a.active + .sub_depth {
    display: block;
  }

  .sub_con_head {
    margin-top: 33px;
    padding-bottom: 18px;
  }

  .sub_con_head .title {
    width: 100%;
    text-align: center;
  }

  .sub_con_head .rightbox {
    width: 100%;
    margin-top: 18px;
  }

  .sub_con_head .location {
    padding-top: 10px;
  }

  .sub_con_head .right_btns {
    float: right;
    margin-top: 0;
  }

  .sub_con_head .right_btns > li.print {
    display: none;
  }

  .sub_cont {
    padding: 32px 0 60px;
  }
}

@media screen and (max-width: 767px) {
  /* 공통 */
  .sub_visual .bg_pc {
    display: none;
  }

  .sub_visual .bg_t {
    display: none;
  }

  .sub_visual .bg_m {
    display: block;
    background-position: center center;
  }

  .sub_visual_center {
    height: 150px;
    padding-bottom: 18px;
  }

  .sub_visual .visual_txt {
    display: none;
  }

  .sub_visual .visual_title {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.56px;
  }

  .sub_visual .visual_title::before {
    right: -49px;
    bottom: 12px;
    width: 39px;
    height: 54px;
    background-size: contain;
  }

  .sub_con_head {
    margin-top: 24px;
  }

  .sub_con_head .title {
    font-size: 24px;
    line-height: 40px;
    text-align: left;
  }

  .sub_con_head .rightbox {
    position: relative;
    margin-top: 0;
    padding-top: 22px;
  }

  .sub_con_head .location {
    padding-top: 0;
  }

  .sub_con_head .right_btns {
    position: absolute;
    top: -40px;
    right: 0;
  }

  .sub_cont {
    padding: 24px 0 40px;
  }
}
